<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tremOFF</title>
</head>
<body>
    <div class="vertical-center">
      <div class="container containerLogin ">
        <h3 class="text-center pt-5">LOGIN</h3>
        <form class="mx-sm-5 mt-5" id="login" action="/login" method="post">
          <div class="align-items-center justify-content-center d-flex btnSubmit">
            <button type="submit" class="btn btn-lg " id="loginButton" >Entrar</button>
          </div>
          
        </form>
        <div class="text-center pt-5 pb-4 forgotPassword">
        </div>
      </div>
  </div>
</body>
</html>